# list are the container that store a set of values in a variable

In [16]:

var = ["Ahmad", "Ashfaq", 26, 3, 2004]
print(f"original list is  = {var}")

original list is  = ['Ahmad', 'Ashfaq', 26, 3, 2004]

# list slicing ------------------------------------------------------------------------------------

In [17]:

print(var[0:2])
print(var[2:])
var[2] = 27
print(var)

['Ahmad', 'Ashfaq']
[26, 3, 2004]
['Ahmad', 'Ashfaq', 27, 3, 2004]

# list method -------------------------------------------------------------------------------------

In [18]:
list_name = [1, 2, 5, 6, 7, 9, 8]
print(list_name)
# # -------------------------------------------------------------------------------------- 
list_name.sort()
print("Sorting The List = ",list_name)
# # --------------------------------------------------------------------------------------
list_name.reverse()
print("Sorting The List in reverse order= ",list_name)
# # --------------------------------------------------------------------------------------
list_name.append("GCUL")
print("Append in The List add the specific value in the end of the list = ",list_name)
# # --------------------------------------------------------------------------------------
list_name.insert(0, "AHMAD")
print("Inserting in the List = ",list_name)
# # --------------------------------------------------------------------------------------
list_name.pop(0)
print("Remove a value from The List through index= ",list_name)
# # --------------------------------------------------------------------------------------
list_name.remove("GCUL")
print("Remove a value from The List through by writing it properly= ",list_name)

[1, 2, 5, 6, 7, 9, 8]
Sorting The List =  [1, 2, 5, 6, 7, 8, 9]
Sorting The List in reverse order=  [9, 8, 7, 6, 5, 2, 1]
Append in The List add the specific value in the end of the list =  [9, 8, 7, 6, 5, 2, 1, 'GCUL']
Inserting in the List =  ['AHMAD', 9, 8, 7, 6, 5, 2, 1, 'GCUL']
Remove a value from The List through index=  [9, 8, 7, 6, 5, 2, 1, 'GCUL']
Remove a value from The List through by writing it properly=  [9, 8, 7, 6, 5, 2, 1]

# --------------------------------------TUPLE-------------------------------------------

## tuple is a set of values that cannot be changed once declared 
## or to declare a one item tuple you must use the comma with it  like (1, ) otherwise
## (1) only is declared as an integer for the variable

In [19]:

tuple_example = ("a","b","c",1,2,3)
print(tuple_example)
# tuple_example[0]="change"
print(tuple_example)

('a', 'b', 'c', 1, 2, 3)
('a', 'b', 'c', 1, 2, 3)

## function for tuples are .count .index

In [20]:

print(tuple_example.index(1)) # index requires atleast 1 argument (for indexing)
print(tuple_example.count(2)) # count 2 value repeats in the tuple

3
1