In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

print("Imported Libraries \n")

Imported Libraries

In [8]:
report = sns.load_dataset('titanic')

report = report.drop('deck', axis=1)
report = report.drop('adult_male', axis=1)
report = report.drop('pclass', axis=1)
report = report.drop('sibsp', axis=1)
report = report.drop('embarked', axis=1)
report = report.drop('parch', axis=1)
report = report.drop('survived', axis=1)
report = report.drop('who', axis=1)
# report[0:10]
# report.groupby("embark_town").agg({'age':'mean'}) # // Calculate The Average Age Of People belongs to specific Area.
# report.groupby('fare').mean()
# report.groupby('alive').agg({'sex':'count'})
# report.plot(x='sex', y='age')
report.groupby('sex').agg({'fare':'max'})
# report

            fare
sex
female  512.3292
male    512.3292